* {
  box-sizing: border-box;
}

#first-header {
  background-color: #F55A5A;
  height: 7%;
  color: #ffffff;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;  
  align-items: center;
}


